
body {
	margin: 0;
	background: linear-gradient(to top, #92bcde, #40ffed, #7ea2bf);
	background-size: 400% 400%;
	background-attachment: fixed;
	
	

}


@keyframes gear {

0% {
	transform: rotate(0deg);
}


100%{
	transform: rotate(360deg);
}
}

@keyframes inicio {

0% {
	top: 30rem ;
}


100%{
	top: 5.5rem ;
}
}

@keyframes foto {

0% {
	top: 9rem ;
}


}

@keyframes foto2 {

0% {
	top: 25rem ;
}


}

@keyframes texto {

0% {
	top: 8rem ;
}


}

@keyframes texto2 {

0% {
	top: 35rem ;
}


}

@keyframes texto3 {

0% {
	top: 32rem ;
}


}
@keyframes color {

0% {
	background-position: 0% 50%;
}
50%{
	background-position: 50% 100%;
}

100%{
	background-position: 0% 50%;
}
}



@keyframes nave {

0% {
	opacity: 0.7;
}

50%  {
	opacity: 1;
}


100% {
	opacity: 0.7;
}
}

@keyframes roda {

	

0%  {
	transform: rotate (360deg);
}
50% {
	transform: rotate(360deg);
}
100%{
	transform: rotate(15deg);
}
	
}


.flexcontainer {
	position:relative;
	display: flex;
	justify-content: space-between;
	
}


.item1 {
	opacity: 0.9;
	border-radius: 6.25rem; 
	background-color: #ffd8be;
	width: 43%;	
	height: 25rem;	
	box-shadow:  14px 5px 0 5px #ffc5bf, 27px 10px 0 8px  #ffaea5, 41px 15px 0 12px #ff968a;	
}

.item2 {
	opacity: 0.95;
	border-radius: 6.25rem;
	background-color:  #ffd8be;
	width: 51%;	
	height: 25rem;	
	box-shadow: -14px 5px 0 5px #ffc5bf, -27px 10px 0 8px  #ffaea5, -41px 15px 0 12px #ff968a;
}

.flexcontainer2 {

	display:flex;
	flex-direction: column;
	align-items: center;
	
}

.degrade-input {
	opacity: 0.8;
	border-radius: 6.25rem;
	background-color:  #ffd8be;
	width: 75%;	
	height: 4rem;	
	box-shadow: -10px 5px 0 5px #ffc5bf, -20px 10px 0 8px  #ffaea5, -30px 15px 0 12px #ff968a;
	margin-top: 25px;
	margin-right: 15px;
}





.degrade-input2 {
	opacity: 1;
	border-radius: 6.25rem;
	background-color:  #ffd8be;
	width: 67%;	
	height: 4rem;	
	box-shadow: -10px 5px 0 5px #ffc5bf, -20px 10px 0 8px  #ffaea5, -30px 15px 0 12px #ff968a;
	margin-top: 43px;
	margin-left: 10vw;
	
}




.degrade-input3 {
	opacity: 1;
	border-radius: 6.25rem;
	background-color:  #ffd8be ;
	width: 30%;	
	height: 4rem;	
	box-shadow: -10px 5px 0 5px #ffc5bf, -20px 10px 0 8px  #ffaea5, -30px 15px 0 12px #ff968a;
	margin-top: 25px;
	margin-left: 39px;
}






.lista li {
	display: inline-block;
}






a {
	
	
	width: 22%;
	height: 35%;
	
	text-align: center;	
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-shadow: 1.5px 1.5px 1px #cccccc;
	box-sizing: border-box;

}
.config a:hover {
	background-color: white;
	color:#FF4081;
	top: 0.94rem;
	transition: top 0.5s;
	font-size: 5vw;
	opacity: 1;
	
	
}

.config a{
	
	background-color: #FFAABE;
	position: absolute;
	top: 20%;
	left: 7%;
	border-radius: 5.81rem;
	font-size: 0;
	padding-top: 1.25rem;
	animation: nave 1.5s ease infinite;
	
	
	
}


.sobre a:hover {
	background-color: white ;
	color:#FF4081;
	top: 45px;
	transition: top 0.5s;
	font-size: 5.5vw;
	opacity: 1;
	padding-top: 0.93rem;
	
	
}

.sobre a{
	
	background-color: #FF8BA9;
	position: absolute;
	top: 30%;
	left: 12%;
	border-radius: 6.25rem;
	font-size: 0;
	animation: nave 1.5s ease infinite;
}

.contato a:hover {
	
	background-color: white;
	color: #FF4081;
	top: 5.625rem;
	transition: top 0.5s;
	font-size: 4vw;
	opacity: 1;
		
}

.contato a{
	
	background-color: #FF6A95;
	position: absolute;
	top: 40%;
	left: 17%;
	border-radius: 6.25rem;
	font-size: 0;
	padding-top: 1.25rem;
	animation: nave 1.5s ease infinite;
	
}


.home a:hover {
	color: #FF4081;
	background-color: white;
	opacity: 1;
}	


.home a {
	
	background-color: #FF4081;
	position: absolute;
	top: 50%;
	left: 22%;
	border-radius: 6.25rem;
	font-size: 5.5vw;
	padding-top: 0.7vw;
	animation: nave 1.5s ease infinite;
	
	
}










.degrade-input3   p {
	text-align: center;
	font-size: 1.24vw;
	text-transform: uppercase;
	font-weight: bold;
	color: #ff968a;
	text-shadow: 1.5px 1.5px  1px white;
	
	
}

.formulario {
	position: absolute;	
	top: 8rem;
	right: 9vw;
	
	
}

.formulario input {
	padding: 0.625rem 1.25rem;
	width: 22vw;
	border-color:   #ffc5bf;
	
	
	
}

.formulario label {
	font-size: 0.9vw;
	text-transform: uppercase;
	text-weight: bold;	
	margin-right: 0.5vw;
	color: brown;
	text-shadow: 1px 1px 1px white;
}




.formulario2 input{
	position: absolute;
	padding: 0.625rem 1.25rem;
	width: 22vw;
	border-color:   #ffc5bf;
	top: 14.7rem;
	right: 5vw;
		
	

}

.formulario2 label {
	font-size: 0.9vw;
	position: absolute;
	text-transform: uppercase;
	text-weight: bold;	
	
	color: brown;
	top: 15.2rem;
	right:32vw;
	text-shadow: 1px 1px 1px white;
}

.submit {
	position: absolute;
	top: 21rem;
	right: 23vw;
	
	
	
		
}


.submit input:hover {
	
	transform: scale(1.2);
	background:  #ffaea5;
	transition: 1s all;
	

}
.submit input {
	width: 9vw;
	height: 3rem;
	background:  #ff968a;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	font-size: 1vw;
	
}

.degrade-main {
	
	opacity: 0.9;
	border-radius: 6.25rem;
	background-color: #ffd8be;
	width: 90%;	
	height: 48.5rem;	
	position: relative;
	margin: 0 auto;
	top: 5.5rem;
	animation: inicio 5s ease;
	box-shadow: -15px 10px 0  #ffc5bf,
		 15px -10px 0  #ffc5bf,
		 15px 10px 0  #ffc5bf,	
		 -15px -10px 0  #ffc5bf,

		 -30px 20px 0   #ffaea5,
		 30px -20px 0   #ffaea5,
		30px 20px 0   #ffaea5,
		-30px -20px 0   #ffaea5,

		 -45px 30px 0  #ff968a,
		 45px -30px 0  #ff968a,
		 45px 30px 0  #ff968a,
		 -45px -30px 0  #ff968a;
	
}





.degrade-main h1 {
	position:relative;
	margin-left: 15vw;
	font-size: 2vw;
	top: 1vw;
	

}


.vl {
	margin-top: 0.5rem;
	border-left: 4px solid #ff968a;
	height: 47rem;
	position: absolute;
	left: 50%;
	top: 0;

}

.moldura-foto {
	
	position: absolute;
	height: 18vw;
	width: 16%;
	background: white;
	
	top: 18%;
	left: 5%;
		
	animation: foto 5s ease;

	
}

.foto {
	position: relative;
	height: 80%;
	width: 90%;
	background: linear-gradient(15deg, #4c0070, #4c3f91, #9145b6, #b95ba5, #ff5677, #ffe3e3);
	top: 1vw;
	left: 0.8vw;
	background-size: 300% 300%;
	animation: color 4s ease infinite;

	
}

.moldura-foto2 {
	
	position: absolute;
	height: 18vw;
	width: 16%;
	background: white;
	top:50%;
	left: 55%;
	transform: rotate(15deg);
	animation: foto2 5s ease;
	
}

.foto2 {
	position: relative;
	height: 80%;
	width: 90%;
	background: linear-gradient(15deg, #000b49, #9b0000, #ff7272, #ffb5b5);
	top: 1vw;
	left: 0.8vw;
	background-size: 300% 300%;
	animation: color 4s ease infinite;

	
}
.quadrado {

	position: relative;
	height: 50%;
	width: 50%;
	border: 2px dashed black;
	display: inline-block;
	top: 3.5vw;
	left: 3.5vw;
	box-shadow: 2px -2px 2px white, -2px 2px 2px lightblue;


}

.quadrado p {
	
	position:relative;
	bottom: 4.5vw;
	left: 2.1vw;
	color: black;
	font-size: 5vw;
	text-shadow: 2px 2px 2px #cccccc;

	
}
.circulo {
	position: relative;
	height: 50%;
	width: 50%;
	border-radius: 50%;
	border: 2px dashed black;
	display: inline-block;
	top: 3.5vw;
	left: 3.5vw;
	box-shadow: 2px -2px 2px white, -2px 2px 2px lightblue;
	
	
}

.circulo p {
	position:relative;
	bottom: 4.5vw;
	left: 2.1vw;
	color: black;
	font-size: 5vw;
	text-shadow: 2px 2px 2px #cccccc;
}

#texto, #texto2, #texto3, #texto4 {
	position: absolute;
	font-size: 1rem;
	resize: none;
	background: none;
	border: none;
	font-weight: bold;
	opacity: 0.8;
}	

#texto {
	height: 55%;
	width: 20%;
	left: 26%;
	top: 16.2%;
	animation: texto 5s ease;
}

#texto2 {	
	width: 41%;
	height: 26%;
	left: 5%;
	top: 71%;
	animation: texto2 5s ease;
	
}

#texto3 {
	height: 26%;
	width: 41%;
	left: 53%;
	top: 16.2%;
	animation: texto 5s ease;
}
#texto4 {
	height: 33%;
	width: 20%;
	left: 76%;
	top: 64%;
	animation: texto3 5s ease;
}
#texto5 {
	position: relative;
	margin-left: 5.5vw;
	font-size: 2vw;
	top: 1vw;
	resize: none;
	background: none;
	border: none;
	font-weight: bold;
	opacity: 0.8;
}

.hr1 p{
	border-bottom: 2px solid #cccccc;
	font-size: 13px;
}
.gear {

	position: absolute;
	top: 19rem;
	left: 4%;
	

}


.gear2{

	position: absolute;
	top: 23rem;
	left: 9.5%;

}

.gear3 {

	position: absolute;
	top: 19rem;
	right: 4%;

}


.gear4 {

	position: absolute;
	top: 23rem;
	right: 9.5%;


}
.gear, .gear2, .gear3, .gear4 {
	
	width: 10rem;
	height: 10rem;
	animation: gear 4s ease;

}

footer {
	
	display: flex;
	margin-top: 25vw;
	width: 100%;
	height: 10vw;
	background-color: #1f1d36;
	box-shadow: -5px -8px #3f3351, -5px -14px #864879, -5px -18px #e9a6a6;

}                        

.detalhe {
	background-color: #1f1d36;
	width: 10%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	bottom: 70%;
	right: 5%;
	z-index: 1;
	box-shadow: -5px -12px #3f3351, -7px -18px #864879, -10px -26px #e9a6a6;
}

.detalhe2 {
	background-color: #1f1d36;
	width: 10%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	bottom: 40%;
	right: 10%;
	box-shadow: -2px -12px #3f3351, -2px -18px  #b958a5, -2px -23px #e9a6a6;
}

.detalhe3 {
	background-color: #1f1d36;
	width: 10%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	left: 70%;
	bottom: 40%;
	box-shadow: 2px -12px #3f3351, 2px -18px #b958a5, 2px -23px #e9a6a6;
}

.detalhe4 {
	background-color: #1f1d36;
	width: 5vw;
	height: 10vw;
	border-top-left-radius: 10vw;
	border-bottom-left-radius: 10vw;
	position: relative;
	left: 65%;
	bottom: 70%;
	box-shadow: 5px -12px #3f3351, 7px -18px #b958a5, 10px -26px #e9a6a6;
}

.hideform, #label, #chec {
	display: none;

}
@media screen and (max-width: 1400px) {


.item2 { 
	width: 49.5%;

}
.home a {
	
	padding-top: 1.6vw;
}

}
@media screen and (max-width: 1200px) { 

.formulario2 label, .formulario label {
		
	font-size: 0;
}		

.formulario2 input {

	right: 7vw;

} 	
.formulario input {
	margin-right: 4vw;

}
.degrade-input3  p {
	margin-top: 2vw;
	
}

.item2 {
	width: 48%;

}
}

@media screen and (max-width: 900px) {

.gear2, .gear4 {
	display:none;

}

.gear,  .gear3 {
	top: 17rem;
	width: 15vw;
	height: 15vw;

}

.hideform, #label, #chec {
	display: initial;
}

.item2, .degrade-input3  p, .degrade-input3, .formulario2 input, .formulario input, .submit input, .formulario, .degrade-input2, .degrade-input { 
	display: none;

}

.item1 {
	margin:0 auto;
	width: 93%;
	height: 12rem;
	box-shadow:  
		14px 5px 0 5px #ffc5bf,
		-14px 5px 0 5px #ffc5bf,
		 27px 10px 0 8px  #ffaea5,
		-27px 10px 0 8px  #ffaea5,
		41px 15px 0 12px #ff968a,
		 -41px 15px 0 12px #ff968a;
}
a {
	width: 19%;

}

.home a, .config a, .contato a, .sobre a {
	padding-top: 0.5rem;
	top: 32%;
	box-shadow: 
		 6px 6px   #ffaea5, 
		-6px 6px  #ffaea5,
		-10px 10px #ff968a,
		10px 10px #ff968a;
	background-color: #FF4081;
	
	
	
}
.home a {
	left: 74%;
	
	font-size: 5vw;
}


.contato a {
	left: 51.8%;
	font-size: 4.5vw;
	

}


.sobre a {

 	left: 29.6%;
	font-size: 4.5vw;
	
}

.config a {

	left: 7.4%;
	font-size: 4vw;
	

}

.config a:hover, .sobre a:hover, .contato a:hover, .home a:hover {
	top: 32%;
	transition: none;
	font-size: 4vw;
	padding-top: 0.5rem;
}

.form-responsivo {

	position: relative;
	margin: 0 auto;
	margin-top: 1.7rem;
	width: 80%;
	padding-top: 0.5vw;
	padding-bottom: 2.5vw;
	
	box-shadow:  
		14px 5px 0 5px #ffc5bf,
		-14px 5px 0 5px #ffc5bf,
		 27px 10px 0 8px  #ffaea5,
		-27px 10px 0 8px  #ffaea5,
		41px 15px 0 12px #ff968a,
		 -41px 15px 0 12px #ff968a;
	opacity: 0.9;
	border-radius: 6.25rem; 
	background-color: #ffd8be
	
}
#chec {
	display: none;

}

#label {
	color: white;
	padding: 0 5px;
	
	font-size: 5vw;
	margin-left: 46%;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #FF4081;
	border-radius: 50%;
	box-shadow: 
		 3px 6px   #ffaea5, 
		-3px 6px  #ffaea5,
		-5px 12px  #ff968a,
		5px 12px  #ff968a;
	
}
#label:hover {
	background-color: white;
	cursor: pointer;
	color:red;
	

}
.form-responsivo form {
	
	display: none;
	
}



input[type="checkbox"]:checked ~ form {
	display: initial;
	
}

.formulario9  {
	
	padding-top: 3% ;
	margin-left: 19%;
	margin-bottom: 10%;
	

}
.formulario29 {
	
	margin-bottom: 10%;
	margin-left: 30%;

}
	
.submit9 {
	margin-left: 35%;
	padding-bottom: 3%;
	

}
.submit9 input:hover {
	
	transform: scale(1.2);
	background:  #ffaea5;
	transition: 1s all;
	

}
.submit9 input {
	
	
	background:  #ff968a;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	font-size: 3vw;
	
}

.formulario9 input {
	
	border-color:   #ffc5bf;
	
	
	
}

.formulario9 label {
	
	text-transform: uppercase;
	text-weight: bold;	
	
	color: brown;
	text-shadow: 1px 1px 1px white;
}




.formulario29 input{
	
	
	border-color:   #ffc5bf;
	
		
	

}

.formulario29 label {
	
	
	text-transform: uppercase;
	text-weight: bold;	
	
	color: brown;
	
	text-shadow: 1px 1px 1px white;
}
}

@media screen and (max-width: 400px) {
a {
	width: 30%;
	height: 25%
}

.home a, .config a, .contato a, .sobre a {
	padding-top: 5vw;
	box-shadow: 
		 6px 6px   #ffaea5, 
		-6px 6px  #ffaea5,
		-10px 10px #ff968a,
		10px 10px #ff968a;
	background-color: #FF4081;
}
.home a, .config a {
	
	top: 10%;

}
.contato a, .sobre a {
	top: 50%;
}

.home a {
	left: 53%;
	
	font-size: 5vw;
}


.contato a {
	left: 53%;
	font-size: 4.5vw;
	

}


.sobre a {

 	left: 17%;
	font-size: 4.5vw;
	
}

.config a {

	left: 17%;
	font-size: 4vw;
	

}
.contato a:hover, .sobre a:hover{
	top: 50%;
	transition: none;
	font-size: 4vw;
	padding-top: 0.5rem;
}

.config a:hover, .home a:hover {
	top: 10%;
}

footer {
	margin-top: 60vw;
}
.gear,  .gear3 {
	top: 15.7rem;
	width: 20vw;
	height: 20vw;

}

.formulario9  {
	
	display:block;
	margin-left: 21%;
	
	

}
.formulario29 {
	display: block;
	width: 40%;
	margin-left: 23%;
}
	
.submit9 {
	margin-left: 25%;
	padding-bottom: 3%;
	

}

	


.submit9 input {
	
	
	background:  #ff968a;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	font-size: 5vw;
	
}

.formulario9 input {
	
	border-color:   #ffc5bf;
	margin-top: 2vw;
	
	
}

.formulario9 label {
	font-size: 4.5vw;
	text-transform: uppercase;
	text-weight: bold;	
	
	color: brown;
	text-shadow: 1px 1px 1px white;
}




.formulario29 input{
	
	margin-top: 2vw;
	border-color:   #ffc5bf;
	
		
	

}

.formulario29 label {
	
	font-size:4.5vw;
	text-transform: uppercase;
	text-weight: bold;	
	
	color: brown;
	
	text-shadow: 1px 1px 1px white;
}

.degrade-main {
z-index:2;
}
.vl, .moldura-foto2, .foto2, .quadrado, .circulo {
	display: none;
}
#texto5 {
	font-size: 5vw;
	width: 86%;
	left: 10%;	
}
#texto3, #texto4 {
	left: -60%;

}
#texto, #texto2 {
	left: 10%;
	width: 80%;
}
#texto {	
	top: 21%;
	height: 50%;

}
.moldura-foto {
	top: 5%;
	left: 40%;
	height: 15%;
	width: 30%;

}


}
